@keyframes fadeIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 2s ease-out;
  overflow: hidden;
}
