$spacings: (
  sm: 0.5rem,
  normal: 1rem,
  md: 1.5rem,
  lg: 2rem,
  xl: 3rem,
  xxl: 4rem
);


@@mixin generate-padding-block-classes {
    @each $size, $value in $spacings {
      .padding-block-#{$size} {
        padding-block: #{$value};
      }
    }
  }
  
  @mixin generate-padding-inline-classes {
    @each $size, $value in $spacings {
      .padding-inline-#{$size} {
        padding-inline: #{$value};
      }
    }
  }

  @mixin generate-margin-block-classes {
    @each $size, $value in $spacings {
      .margin-block-#{$size} {
        margin-block: #{$value};
      }
    }
  }
  
  @mixin generate-margin-inline-classes {
    @each $size, $value in $spacings {
      .margin-inline-#{$size} {
        margin-inline: #{$value};
      }
    }
  }

  @include generate-padding-block-classes;
  @include generate-padding-inline-classes;
  @include generate-margin-block-classes;
  @include generate-margin-inline-classes;