$spacings: (
  sm: 0.5rem,
  normal: 1rem,
  md: 1.5rem,
  lg: 2rem,
  xl: 3rem,
  xxl: 4rem,
);

$list-direction: block, inline;

@each $direction in $list-direction {
  @each $size, $value in $spacings {
    .padding-#{$direction}-#{$size} {
      padding-#{$direction}: #{$value};
    }
    .margin-#{$direction}-#{$size} {
      margin-#{$direction}: #{$value};
    }
  }
}
